/* === Variables del proyecto ===*/

$color-amarillo: #ffc72c;

$color-gris: #404040;

$color-gris-claro: rgb(216, 216, 216);

$padding-index-seccion-4-explicacion-760px: 30px;

$height-servicios-seccion-2-explicaciones: calc(220px - 2vw);

$height-servicios-seccion-2-explicaciones-480px: calc(180px - 2vw);

$height-servicios-seccion-2-explicaciones-1200px: 250px;

$height-servicios-seccion-3-explicaciones: 180px;

$height-servicios-seccion-3-explicaciones-1200px: 190px;

$height-servicios-seccion-4-explicaciones: 220px;

$height-servicios-seccion-4-explicaciones-480px: 200px;

$height-servicios-seccion-4-explicaciones-768px: 150px;

$height-servicios-seccion-4-explicaciones-1200px: 220px;

$height-servicios-seccion-5-explicaciones: 200px;

$height-servicios-seccion-5-explicaciones-480px: 150px;

$height-servicios-seccion-5-explicaciones-1200px: 220px;