/* === Innovación === */

  /* ___ Primera sección o portada___ */

  .innovacion-portada{
    width: 100%;
    height: 700px;
    background-color: $color-amarillo;

    .innovacion-portada-cuadro {
        width:100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        .innovacion-portada-cuadro-texto{
            width: 85%;
            max-width: 430px;
            border: 4px $color-gris solid;
            padding: 20px;

            & h1{
                font-size: calc(20px + 2.5vw);
                font-weight: bold;
                color: $color-gris;
                padding-bottom: 10px;
            }
            
            & p{
                font-size: calc(11px + 0.6vw);
                color: $color-gris;
                padding: 0 1px 0 0;
            }
        }
    }

    .innovacion-portada-imagen{
        width:100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            width: 100%;
            height: 100%;
            object-fit:contain;
        }
    }
}

/* innovación sección 1 o portada media screen */

@media screen and (min-width: 768px) {

    .innovacion-portada{
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 500px;
        grid-template-areas: "cuadro imagen";
        
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        .innovacion-portada-cuadro {
            width:100%;
            height: 80%;
            grid-area: cuadro;
            max-width: 408px;

            .innovacion-portada-cuadro-texto{
                width: 85%;
                max-width: 600px;
                padding: 20px;

                & h1{
                    font-size: MIN(calc(18px + 2vw), 38.6px);
                    margin: 10px 0px
                }
                
                & p{
                    font-size: MIN(calc(12px + 0.5vw), 17.09px);
                    margin: 10px 0px
                }
            }
        }

        .innovacion-portada-imagen{
            width:100%;
            height: 100%;
            grid-area: imagen;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .innovacion-portada{
        height: 615px;
        grid-template-rows: 615px;
        grid-template-areas: "cuadro imagen";

        .innovacion-portada-cuadro{
            width: 80%;
            height: 100%;
            max-width: 1200px;
            padding: 20px;
            position: relative;
            bottom: 15px;

            .innovacion-portada-cuadro-texto{
                width: 90%;
                max-width: 650px;
                border: 4px $color-gris solid;
                padding: 40px;

                & h1{
                    font-size: calc(20px + 2vw);
                    margin: 15px 0px;
                }

                & p{
                    font-size: calc(12px + 0.75vw);
                }
            }
        }

        .innovacion-portada-imagen img{
            height: 90%;
            width: 90%;
            object-fit: contain;
            position: relative;
            bottom: 15px;
        }
    }
}

  /* ___ Segunda sección ___ */

.innovacion-seccion-2 {
    width: 100%;
    height: calc(1200px - 15vw);

    .innovacion-seccion-2-explicacion {
        width: 100%;
        height: calc(750px - 5.5vw);
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 40px;

        & h2 {
            width: 100%;
            font-size: calc(14px + 1.25vw);
            color: $color-gris;
        }

        & p {
            font-size: calc(12px + 0.25vw);
        }

        .innovacion-seccion-2-explicacion-h3 {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: 10px;
            font-size: calc(10px + 0.25vw);
            color: $color-gris;
        }
    }

    .innovacion-seccion-2-foto {
        width: 100%;
        height: 280px;
        background-color: white;
        position: absolute;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .innovacion-seccion-2-foto-foto {
            width: 100%;
            max-height: 270px;
            position: relative;
            object-fit: contain;
            display: block;
            margin-top: 40px;
        }
    }
    
}

/* innovacion sección 2 media screen */

@media screen and (min-width:480px) {

    .innovacion-seccion-2 {
        height: calc(1170px - 15vw);

        .innovacion-seccion-2-explicacion {
            height: calc(650px - 1.25px);

            .innovacion-seccion-2-explicacion h3 {
                font-size: calc(10px + 0.4vw);
            }
        }

        .innovacion-seccion-2-foto {
            height: 350px;

            .innovacion-seccion-2-foto-foto {
                max-height: 300px;
                margin-top: 0px;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .innovacion-seccion-2 {
        width: 100%;
        height: calc(1100px - 25vw);

        .innovacion-seccion-2-explicacion {
            width: 100%;
            height: calc(600px - 15vw);
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 30px 40px;
            margin-top: 10px;
        }

        .innovacion-seccion-2-foto {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {

    .innovacion-seccion-2 {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 650px;
        grid-template-areas: "innovacionSeccion2foto innovacionSeccion2texto" "innovacionSeccion2foto innovacionSeccion2texto";

        .innovacion-seccion-2-foto {
            width: 50%;
            height: 800px;
            background-color: $color-gris-claro;
    
            grid-area: innovacionSeccion2foto;
    
            margin-top: 0px;

            .innovacion-seccion-2-foto-foto {
                width: 90%;
                height: 90%;
                max-height: 470px;
                object-fit: contain;
                display: block;
            }
        }

        .innovacion-seccion-2-explicacion {
            width: 100%;
            height: 800px;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 45px 40px 60px 40px;
            margin-top: 0px;
    
            grid-area: innovacionSeccion2texto;

            & h2 {
                width: 35vw;
                font-size: calc(14px + 1.25vw);
                color: $color-gris;
            }

            & p {
                display: block;
                font-size: MIN(16px + 0.5vw, 20px);
            }

            .innovacion-seccion-2-explicacion-h3 {
                display: flex;
                flex-wrap: row wrap;
                justify-content: flex-start;
                font-size: MIN(12px + 0.3vw, 22px);
                color: $color-gris;
                gap: 10px;
            }
        }
    }
}

  /* ___ Tercera sección ___ */

.innovacion-seccion-3 {
    width: 100%;
    height: calc(1650px - 15vw);
    background-color: $color-gris-claro;   

    .innovacion-seccion-3-titulo {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;

        & h2{
            font-size: calc(14px + 1.25vw);
            color: $color-gris;
            padding: 30px 20px 10px 20px;
        }
    }

    .innovacion-seccion-3-ml{
        width:100%;
        height: calc(570px - 1vw);
        padding: 0px 20px;

        .innovacion-seccion-3-ml-titulo {
            width: 50%;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            margin-bottom: 20px;

            & h3 {
                font-size: calc(14px + 0.65vw);
                color: $color-gris;
            }
        }

        .innovacion-seccion-3-ml-texto {
            width: 85%;
            height: calc(450px - 0.3vw);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .innovacion-seccion-3-ml-texto-parrafos {
                font-size: calc(12px + 0.15vw);
                color: $color-gris;

                & p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .innovacion-seccion-3-beneficios {
        width: 100%;
        height: 410px;
        padding: 0px 20px;

        .innovacion-seccion-3-beneficios-titulo {
            width: 70%;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            margin-bottom: 20px;

            & h3 {
                font-size: calc(14px + 0.65vw);
                color: $color-gris;
                }
            }

            .innovacion-seccion-3-beneficios-listado1 {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                list-style:disc;
                margin-left: 4px;

                & li {
                    font-size: calc(10px + 0.25vw);
                    color: $color-gris;
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
            }

            .innovacion-seccion-3-beneficios-listado2 {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                list-style:disc;
                margin-left: 4px;

                & li {
                    font-size: calc(10px + 0.25vw);
                    color: $color-gris;
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
            }
        }

    .innovacion-seccion-3-pregunta {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 20px;

        .innovacion-seccion-3-pregunta-titulo {
            width: 85%;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            margin-bottom: 20px;

            & h3 {
                font-size: calc(12px + 0.5vw);
                color: $color-gris;
            }
        }

        .innovacion-seccion-3-pregunta-boton {
            width: 40%;
            height: 40px;
            background-color: $color-amarillo;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 15px;

            & a{
                font-size: calc(12px + 0.5vw);
                font-weight: 500;
                color: $color-gris;
            }

            &:hover{
                background-color: $color-gris;
                transition: 0.5s;
                color: $color-amarillo;
    
                & a{
                    transition: 0.5s;
                    color: $color-amarillo;
                    }
                }
        }


        }

    .innovacion-seccion-3-foto {
        width: 100%;
        height: 350px;
        position: absolute;
        margin-top: 30px;

        & img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: contain;
        }
    }
}

/* innovacion sección 3 media screen */

@media screen and (min-width: 480px) {

    .innovacion-seccion-3 {
        height: calc(1550px - 20vw);

        .innovacion-seccion-3-beneficios{
            margin-top: 25px;
        }

        .innovacion-seccion-3-ml{
            height: calc(410px - 12vw);
            padding: 0px 20px;

            .innovacion-seccion-3-ml-texto {
                width: 90%;
                height: calc(330px - 10vw);

                .innovacion-seccion-3-ml-texto-parrafos p{
                    max-width: 450px;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {

    .innovacion-seccion-3 {
        height: 1425px;

        .innovacion-seccion-3-ml{
            height: 310px;

            .innovacion-seccion-3-ml-texto {
                width: 90vw;
                height: 330px;

                .innovacion-seccion-3-ml-texto-parrafos p {
                    max-width: 565px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .innovacion-seccion-3 {
        height: 1350px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 480px 150px 500px;
        grid-template-areas: "titulo titulo" "ml beneficios" "boton boton" "foto foto";

        .innovacion-seccion-3-titulo {
            width: 100%;
            height: 100px;
            grid-area: titulo;
        }

        .innovacion-seccion-3-ml{
            width: 95%;
            height: 450px;
            padding: 0px 5px 0px 20px;
            grid-area: ml;

            .innovacion-seccion-3-ml-titulo{
                width:50%;
            }

            .innovacion-seccion-3-ml-texto {
                width: 95%;
                max-width: 385px;
                height: 400px;

                .innovacion-seccion-3-ml-texto-parrafos p {
                    font-size: calc(12px + 0.20vw);
                    max-width: 40vw;
                }
            }
        }

        .innovacion-seccion-3-beneficios {
            width: 100%;
            height: calc(600px - 14vw);
            grid-area: beneficios;
            margin-top: 4px;

            .innovacion-seccion-3-beneficios-titulo {
                width: 80%;
            }

            .innovacion-seccion-3-beneficios-listado1 {
                width: 80%;
            }
        
            .innovacion-seccion-3-beneficios-listado2 {
                width: 80%;
            }
        }

        .innovacion-seccion-3-pregunta {
            width: 100%;
            height: 150px;
            grid-area: boton;
            margin-top: 20px;
            padding: 20px;

            .innovacion-seccion-3-pregunta-titulo h3 {
                font-size: calc(14px + 0.65vw);
            }

            .innovacion-seccion-3-pregunta-boton {
                width: 20%;
            }
        }

        .innovacion-seccion-3-foto {
            width: 100%;
            height: 500px;
            grid-area: foto;
            position: relative;

            .innovacion-seccion-3-foto-foto {
                grid: foto;
            }
        }
    }    
}

@media screen and (min-width: 1024px) {

    .innovacion-seccion-3 {
        height: 1250px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 430px 100px 600px;
        grid-template-areas: "titulo titulo" "ml beneficios" "boton boton" "foto foto";

        .innovacion-seccion-3-ml{
            width:100%;
            height: 400px;
            grid-area: ml;

            .innovacion-seccion-3-ml-texto {
                max-width: 430px;
                height: 400px;

                .innovacion-seccion-3-ml-texto-parrafos p {
                    max-width: 40vw;
                }
            }
        }
    }    
}

@media screen and (min-width: 1200px) {

    .innovacion-seccion-3 {
        height: 1600px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 160px calc(700px - 1vw) 100px 600px;
        grid-template-areas: "titulo titulo" "ml beneficios" "boton boton" "foto foto";

        .innovacion-seccion-3-titulo {
            margin-top: 10px;

            & h2 {
                padding-left: 60px;
                padding-top: 60px;
                font-size: MIN(calc(14px + 1.25vw), 35px);
            }
        }

        .innovacion-seccion-3-ml{
            width:100%;
            height: calc(700px - 1vw);
            grid-area: ml;
            padding-left: 60px;

            .innovacion-seccion-3-ml-texto {
                max-width: calc(350px + 15vw);
                height: 700px;

                .innovacion-seccion-3-ml-texto-parrafos {
                    max-width: calc(350px + 15vw);
                    font-size: MIN(calc(16px + 0.5vw), 20px);

                    & p {
                        max-width: calc(350px + 15vw);
                        font-size: MIN(calc(16px + 0.5vw), 20px);
                    }
                }
            }
        }

        .innovacion-seccion-3-beneficios {
            height: 650px;
            padding-left: 90px;
            margin-top: 0px;

            .innovacion-seccion-3-beneficios-listado1 li {
                font-size: MIN(calc(14px + 0.25vw), 18px);
            }

            .innovacion-seccion-3-beneficios-listado2 li{
                font-size: MIN(calc(14px + 0.25vw), 18px);
            }
        }

        .innovacion-seccion-3-pregunta{
            padding-left: 60px;
            height: 100px;
            margin-top: 0px;

            .innovacion-seccion-3-pregunta-boton {
                height: 50px;

                & a{
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .innovacion-seccion-3-foto{
            margin-top: 75px;
        }
    }    
}