/* === Nosotros === */

  /* --- Main --- */

  /* ___ Primera sección o portada___ */

.nosotros-portada{
    width: 100%;
    height: 100vh;
    background-color: $color-amarillo;
    display: flex;
    justify-content: center;
    align-items: center;

    .nosotros-portada-video{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
    }

    .nosotros-portada-titulo{
        width: 90%;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .nosotros-portada-titulo-h1{
        display: inline-block;
        width: 300px;
        position: relative;
        font-size: MIN(calc(22px + 1vw), 25.6px);
        font-weight: bold;
        color: white;
        text-align: center;
        } 
    }
}

/* nosotros sección 1 o portada media screen */

@media screen and (min-width: 480px) {

    .nosotros-portada{
        height: 615px;
        
        .nosotros-portada-video{
            height: 615px;
        }

        .nosotros-portada-titulo{

            .nosotros-portada-titulo-h1{
                font-size: calc(18px + 1.5vw);
                width: 470px;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .nosotros-portada{
        height: 615px;
        
        .nosotros-portada-video{
            height: 615px;
        }

        .nosotros-portada-titulo{

            .nosotros-portada-titulo-h1{
                font-size: calc(18px + 1.5vw);
                width: 550px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .nosotros-portada{
        height: 615px;
        grid-template-rows: 615px;

        .nosotros-portada-titulo{

            .nosotros-portada-titulo-h1{
                font-size: MIN(18px + 2vw, 58px);
                width: 840px;
            }
        }
    }
}

  /* ___ Segunda sección ___ */

.nosotros-seccion-2 {
    width: 100%;
    height: cal(1440px -5vw);

    .nosotros-seccion-2-titular {
        width: 100%;
        height: 70px;
        background-color: $color-gris-claro;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;

        & h2 {
            font-size: calc(14px + 1.25vw);
            color: $color-gris;
        }
        
        & a {
            width: 50px;
            height: 50px;

            .nosotros-seccion-2-titular-a-img {
                width: 50px;
                height: 50px;
                animation-name: pulsate-bck;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
        }

        .pulsate-bck {
            -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
            animation: pulsate-bck 0.5s ease-in-out infinite both;
        }
    }

    .nosotros-seccion-2-foto {
        width: 100%;
        max-height: 400px;
        background-color: $color-gris-claro;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .nosotros-seccion-2-foto-foto {
            width: 100%;
            max-height: 400px;
            object-fit: contain;
            display: block;
        }
    }

    .nosotros-seccion-2-explicacion {
        width: 100%;
        height: calc(1000px - 3vw);
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: calc(40px + 0.5vw) 40px;

        & h2 {
            width: 80%;
            font-size: 18.14px;
            color: $color-gris;
        }

        & p {
            font-size: 12.8px;
        }

        .nosotros-seccion-2-explicacion-h3 {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: 10px;
            font-size: 10.8px;
            color: $color-gris;
        }
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-24 0:38:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* nosotros sección 2 media screen */

@media screen and (min-width: 480px) {

    .nosotros-seccion-2 {
        height: 1380px;

        .nosotros-seccion-2-explicacion {
            height: 900px;

            .nosotros-seccion-2-explicacion-h3 {
                font-size: calc(10px + 0.25vw);
            }
        }
    }
}

@media screen and (min-width:768px) {

    .nosotros-seccion-2 {
        width: 100%;
        height: 1250px;

        .nosotros-seccion-2-explicacion {
            width: 100%;
            height: 750px;
            padding: 30px 40px;

            & h2{
                font-size: 22px;
            }

            & p{
                font-size: 16px;
            }

            .nosotros-seccion-2-explicacion-h3 {
                font-size: calc(10px + 0.6vw);
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .nosotros-seccion-2 {
        width: 100%;
        height: 850px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 750px;
        grid-template-areas: "nosotrosSeccion2titular nosotrosSeccion2texto" "nosotrosSeccion2foto nosotrosSeccion2texto";

        .nosotros-seccion-2-titular {
            width: 100%;
            height: 100px;
            background-color: $color-gris-claro;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 40px;
    
            grid-area: nosotrosSeccion2titular;

            .nosotros-seccion-2-titular-a-img {
                width: 70px;
                height: 70px;
            }
        }

        .nosotros-seccion-2-foto {
            width: 100%;
            max-height: 750px;
            background-color: $color-gris-claro;
        
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            grid-area: nosotrosSeccion2foto;

            .nosotros-seccion-2-foto-foto {
                width: 100%;
                max-height: 750px;
                object-fit: contain;
                display: block;
            }
        }

        .nosotros-seccion-2-explicacion {
            width: 100%;
            height: 800px;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 10px 40px;
            margin-top: 15px;

            & h2 {
                width: 50%;
                font-size: calc(14px + 1.25vw);
                color: $color-gris;
            }

            & p {
                display: block;
                font-size: calc(12px + 0.25vw);
            }

            .nosotros-seccion-2-explicacion-h3 {
                display: flex;
                flex-wrap: row wrap;
                justify-content: flex-start;
                gap: 10px;
                font-size: calc(10px + 0.55vw);
                color: $color-gris;
            }
        }

    }
}

  /* ___ Tercera sección ___ */

.nosotros-seccion-3 {
    width: 100%;
    height: cal(1440px -5vw);

    .nosotros-seccion-3-titular {
        width: 100%;
        height: 70px;
        background-color: $color-gris-claro;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;

        & h2 {
            font-size: calc(14px + 1.25vw);
            color: $color-gris;
        }

        & a {
            width: 50px;
            height: 50px;

            .nosotros-seccion-3-titular-a-img {
                width: 50px;
                height: 50px;
                animation-name: pulsate-bck;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }
        }
    }

    .nosotros-seccion-3-foto {
        width: 100%;
        max-height: 400px;
        background-color: $color-gris-claro;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .nosotros-seccion-3-foto-foto {
            width: 100%;
            max-height: 400px;
            object-fit: contain;
            display: block;
        }
    }

    .nosotros-seccion-3-explicacion {
        width: 100%;
        height: calc(1000px - 3vw);
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: calc(40px + 0.5vw) 40px;

        & h2 {
            width: 80%;
            font-size: 18.14px;
            color: $color-gris;
        }
        
        & p {
            font-size: 12.8px;
        }

        .nosotros-seccion-3-explicacion-h3 {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: 10px;
            font-size: calc(10px + 0.4vw);
            color: $color-gris;
        }
    }
}



/* nosotros sección 3 media screen */

@media screen and (min-width: 480px) {

    .nosotros-seccion-3 {
        height: 1380px;

        .nosotros-seccion-3-explicacion {
            height: 900px;

            .nosotros-seccion-3-explicacion-h3 {
                font-size: calc(10px + 0.25vw);
            }
        }
    }
}

@media screen and (min-width:768px) {


    .nosotros-seccion-3 {
        width: 100%;
        height: 1235px;

        .nosotros-seccion-3-explicacion {
            width: 100%;
            height: 750px;
            padding: 30px 40px;

            & h2{
                font-size: 22px;
            }
        
            & p{
                font-size: 16px;
            }

            .nosotros-seccion-3-explicacion-h3 {
                font-size: calc(10px + 0.6vw);
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .nosotros-seccion-3 {
        width: 100%;
        height: 850px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 750px;
        grid-template-areas: "nosotrosSeccion3texto nosotrosSeccion3titular" "nosotrosSeccion3texto nosotrosSeccion3foto";

        .nosotros-seccion-3-titular {
            width: 100%;
            height: 100px;
            background-color: $color-gris-claro;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 40px;
    
            grid-area: nosotrosSeccion3titular;

            .nosotros-seccion-3-titular-a-img {
                width: 70px;
                height: 70px;
            }
        }

        .nosotros-seccion-3-foto {
            width: 100%;
            max-height: 750px;
            background-color: $color-gris-claro;
        
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            grid-area: nosotrosSeccion3foto;

            .nosotros-seccion-3-foto-foto {
                width: 100%;
                max-height: 700px;
                object-fit: contain;
                display: block;
        
                grid-area: nosotrosSeccion3foto;
            }
        }

        .nosotros-seccion-3-explicacion {
            width: 100%;
            height: 800px;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 10px 40px;
            margin-top: 15px;

            & h2 {
                width: 50%;
                font-size: calc(14px + 1.25vw);
                color: $color-gris;
            }
            
            & p {
                display: block;
                font-size: calc(12px + 0.25vw);
            }

            .nosotros-seccion-3-explicacion-h3 {
                display: flex;
                flex-wrap: row wrap;
                justify-content: flex-start;
                gap: 10px;
                font-size: calc(10px + 0.55vw);
                color: $color-gris;
            }
        }
    }
}

  /* ___ Cuarta sección ___ */

.nosotros-seccion-4 {
    width: 100%;
    height: calc(990px - 10vw);
    background-color: $color-gris-claro;

    .nosotros-seccion-4-linea {
        width: 100%;
        height: 52px;
        padding-top: 50px;
        margin-bottom: 52px;

        .nosotros-seccion-4-linea-amarilla {
            width: 25vw;
            height: 15px;
            display: inline-block;
            position: relative;
            background-color: $color-amarillo;
            border-style: solid;
            border-color: $color-amarillo;
        }
    }

    .nosotros-seccion-4-trabajo {
        width: 100%;
        height: 800px;
        background-color: $color-gris-claro;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: flex-start;
        padding: 20px;

        .nosotros-seccion-4-trabajo-titulo h2 {
            font-size: calc(14px + 1.5vw);
            color: #404040;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .nosotros-seccion-4-trabajo-partes {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: flex-start;
        }

        & h3 {
            font-size: calc(12px + 1.10vw);
            color: #404040;
            margin-bottom: 15px;
            margin-top: calc(80px - 10vw);
        }

        & p {
            display: block;
            font-size: MIN(calc(12px + 0.50vw), 20px);
            margin-bottom: 30px;
        }
        
        & a {
            width: 200px;
            font-size: calc(12px + 0.50vw);
            padding: 8px;
            color: #404040;
            font-weight: 500;
            border-color: $color-amarillo;
            background-color: $color-amarillo;
            border-style: solid;
            margin-bottom: 30px;
            transition: 1s;
            display: inline-block;
            margin-top: 0px;
        }

        & a:hover{
            background-color: $color-gris;
            color: $color-amarillo;
        }
    }
}

/* nosotros sección 4 media screen */

@media screen and (min-width: 480px) {

    .nosotros-seccion-4-trabajo p {
        max-width: 620px;
    }
}

@media screen and (min-width: 768px) {

    .nosotros-seccion-4{
        width: 100%;
        height: calc(990px - 10vw);
        background-color: $color-gris-claro;

        .nosotros-seccion-4-linea {
            margin-bottom: 20px;
        }

        .nosotros-seccion-4-trabajo {
            width: 100%;
            height: 800px;
            background-color: $color-gris-claro;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: flex-start;
            padding: 20px;
            margin-top: 30px;

            & h3 {
                font-size: MIN(calc(12px + 1.10vw), 25.65px);
            }

            .nosotros-seccion-4-trabajo-titulo h2 {
                font-size: MIN(calc(14px + 1.5vw), 30px);
                margin-bottom: 20px;
            }

            & p{
                max-width: 1100px;
                font-size: MIN(calc(12px + 0.50vw), 20px);
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .nosotros-seccion-4{
        width: 100%;
        height: 480px;
        background-color: $color-gris-claro;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 380px;
        grid-template-areas: "amarillo" "texto";

        .nosotros-seccion-4-linea {
            width: 30%;
            height: 80px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .nosotros-seccion-4-linea-amarilla {
                width: 20%;
                height: 15px;
            }
        }

        .nosotros-seccion-4-trabajo {
            width: 100%;
            height: 320px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 80px;
            padding: 30px 40px;

            & h3 {
                margin-top: 0px;
            }

            .nosotros-seccion-4-trabajo-titulo h2 {
                font-size: calc(12px + 1vw);
                margin-top: 0px;
            }

            .nosotros-seccion-4-trabajo-partes {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-start;
            }

            .nosotros-seccion-4-trabajo-titulo h3 {
                max-width: 551px;
                font-size: calc(12px + 1vw);
            }

            & p {
                font-size: MIN(calc(12px + 0.25vw), 20px);
            }

            & a {
                width: 200px;
                font-style: italic;
                font-size: MIN(calc(12px + 0.25vw), 20px);
            }
        }
    }
}