/* === Header === */

header {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 10% 10% 20%;
    grid-template-rows: 10vh;
    grid-template-areas: "imagen vacio banderaArg banderaUK boton";
    background-color: #ffc72c00;
    position: absolute;
    z-index: 3;

    .header-logo{
        width: 100%;

        .header-logo-img {
            display: grid;
            grid-area: imagen;
            height: 100%;
            width: 100%;
            object-fit:contain;
            padding: 12px;
        }
    }

    .header-a-arg{
        display: grid;
        grid-area: banderaArg;
        height: 100%;
        width: 100%;
        object-fit:contain;
        padding: 3px;

        .header-a-icono-arg{
            width:100%;
            height: 100%;
            object-fit: contain;
            padding: 6px;
        }
    }

    .header-a-uk{
        display: grid;
        grid-area: banderaUK;
        height: 100%;
        width: 100%;
        object-fit:contain;
        padding: 3px;

        .header-a-icono-uk{
            width:100%;
            height: 100%;
            object-fit: contain;
            padding: 6px;
        }
    }

    .boton-header{
        height: 10vh;
        grid-area: boton;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & input {
            opacity: 0;
            pointer-events: none;
            touch-action: none;
            display: none;
        }
    
        & label{
            display: inline-flex;
            justify-content: center;
            align-items: center;

            .logo-menu{
                width:80%;
                height: 80%;
                object-fit: cover;
                padding: 5px;
            }
        }

        .menu-desplegable{
            background-color: $color-amarillo;
            height: 500px;
            width: 100vw;
            display: none;
            top: 10vh;
            position: absolute;
            flex-direction: column;
            align-items: center;
            padding: MIN(10vh, 100px) 0px;
            left: -80vw;

            .menu-desplegable-texto{
                font-size: calc(12px + 1vw);
                font-weight: 600;
                color: #404040da;
                width: 200px;
                text-align: center;
            }
        }
        
        input:checked ~ .menu-desplegable {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            z-index: 2;

            .menu-desplegable-texto:hover{
                font-weight: bold;
            }    
        }
    }
}

/* header media screen */

@media screen and (min-width: 480px) {

header {

    .header-a-arg{
        display: grid;
        grid-area: banderaArg;
        height: 100%;
        width: MIN(100%, 51.75px);
        object-fit:contain;
        padding: 3px;

        .header-a-icono-arg{
            width:100%;
            height: 100%;
            object-fit: contain;
            padding: 10px;
        }
    }

    .header-a-uk{
        display: grid;
        grid-area: banderaUK;
        height: 100%;
        width: MIN(100%, 51.75px);
        object-fit:contain;
        padding: 3px;

        .header-a-icono-uk{
            width:100%;
            height: 100%;
            object-fit: contain;
            padding: 10px;
        }
    }

        .boton-header{

            input:checked ~ .menu-desplegable {
                gap: 5px;
                z-index: 2;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    header {
        grid-template-columns: 20% 50% 5% 5% 20%;
        grid-template-rows: 10vh;

        & h1 {
            font-size: calc(16px + 0.25vw);
            color: #404040;
            padding: calc(12px - 0.5vw);
        }

        .boton-header{
            height: 10vh;

            .menu-desplegable{
                height: 440px;
                width: 100vw;
                left: -80vw;
                row-gap: MIN(15vh, 100px);
                padding: MIN(5vh, 100px);
                top: 15vh;

                .menu-desplegable-texto{
                    font-size: calc(18px + 0.4vw);
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    header{
        grid-template-rows: 15vh;

        .header-logo{

            .header-logo-img{
                width: 100%;
                height: 100%;
                justify-items: center;
                padding: 15px 10px 22px 10px;
            }
        }

        .boton-header{
            height: 15vh;

            & label{

                .logo-menu{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    bottom: 2.5px;
                    padding: 10px;
                }
            }

            .menu-desplegable{
                height: 615px;
            }
        }
    }
}

